<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <div>
        <% for(var i=0; i < login.length; i++) { %>
            <h1> <%= login[i].name %></h1>
            <h1> <%= login[i].email %></h1>
            <% } %>
            <form action="/logout" method="POST">
            <button type="submit">Logout</button>
            </form>
    </div>
</body>
</html>