<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <div>
        <form action="/register" method="POST" >
            <div>
                <label for="name">Name</label>
                <input type="text" placeholder="Enter your name" id="name" name="name" aria-describedby="name" required>
            </div>
            <div>
                <label for="email">Email</label>
                <input type="email" placeholder="Enter your email" id="email" name="email" aria-describedby="email" required>
            </div>
            <div>
                <label for="password">Password</label>
                <input type="password" placeholder="Enter your password" id="password" name="password" aria-describedby="password" required>
            </div>
            <div>
                <label for="password">Password</label>
                <input type="password" placeholder="Confirm your password" id="confirmPassword" name="confirmPassword" aria-describedby="confirmPassword" required>
            </div>
            <div>
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>
    <a href="./login">Login</a>
</body>
</html>